name: qr_scan
description: Combines Google's ML Kit Barcode Scanning with CamerAwesome to scan qr and barcodes.
version: 0.0.6
#repository:

environment:
  sdk: '>=3.3.1 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  camerawesome: ^2.1.0
  flutter:
    sdk: flutter
  google_mlkit_barcode_scanning: ^0.12.0
  just_audio: ^0.9.39

dev_dependencies:
  flutter_lints: ^4.0.0

flutter:
  assets:
    - assets/images/
    - assets/audio/

  plugin:
    platforms:
      android:
        package: com.sezinsoft.qr_scan
        pluginClass: QrScanPlugin
      ios:
        pluginClass: QrScanPlugin
