name: qr_scan
description: "Combines Google's ML Kit Barcode Scanning with CamerAwesome to scan qr and barcodes"
version: 0.2.0
homepage: "https://www.sezinsoft.com/"

environment:
  sdk: ^3.5.3
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.1.8
  camerawesome: 2.5.0
  google_mlkit_barcode_scanning: 0.14.1
  just_audio: 0.10.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  assets:
    - assets/images/
    - assets/audio/

  plugin:
    platforms:
      android:
        package: com.sezinsoft.qr_scan
        pluginClass: QrScanPlugin
      ios:
        pluginClass: QrScanPlugin

